/*responsive design by ZeZeN*/


body {
    line-height:150%;
    background-color:black;
    color:white;
    overflow-x:hidden;
}

#body-back{
    z-index:-1;
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: url("coquelico.jpg") center fixed;
    background-size:cover;
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}

#banniere {
    position:relative;
    background: url("coquelico.jpg") center center;
    background-size:cover;
    margin:-10px 0 15px 0;
    height:50vh;
}

header, #content, footer  {
    width:70%;
    margin:auto;
    padding:15px 0;
    background:#444;
    text-align:center;
}

#banniere-content {
    position:absolute;
    top:15%;
    left:5%;
    border-left:5px white solid;
    padding:20px;
}

li {
    display:inline;
}

ul {
    display:inline;
    float:left;
    margin-left:30px;
}

h3 {
    display:inline;
    float:left;
}

header {
    height:50px;
    overflow:hidden;
}

header a, header a:visited {
    color:white;
    text-decoration:none;
    padding:5px 15px;
}
header a.menu:hover{
    background:#666;
    border-radius:5px;
}

article.half-width {
    display:inline-block;
    width:45%;
}
article{
    margin:10px 5px;
    padding:20px 10px;
    color:#444;
    background:#f5f5f5;
    box-shadow:0 0 8px gray;
    text-align:justify;
    border-radius:5px;
}

#content {
    background:#f6f6f6;
}

article.full-width {
    display:inline-block;
    width:92%;
}

#menu-mobile {
    display:none;
}

#haut, #haut:visited{
    position:fixed;
    bottom:30px;
    right:30px;
    height:50px;
    width:50px;
    padding:16px 22px;
    border-radius:25px;
    background:rgba(126, 126, 126, 0.5);
    color:white;
    text-decoration:none;
}
#haut:hover{
    background:rgb(126,126,126);
}

/*===================================================
Responsive taille mobile
====================================================*/

@media screen and (max-width:800px){
    header{
        height:70px;
    }
    
    header #menu{
        display:none;
    }
    
    header h1{
        display:block;
        float:none;
    }
    
    header #menu-mobile{
        display:block;
        margin-left:10px;
        width:150px;
        margin:20px auto;
    }
    
    header, #content, footer{
        width:95%;
    }
    article.half-width{
        width:92%;
    }
}

